<html>
  <head>
    <title>NARVALS NARVALS</title>
  </head>
  <body>
    <div>
          <h1><a href=''>TAKIE TAM KUKLE</a></h1>
    </div>

    <div>
        <p>published: 03.11.2016, 21:30</p>
          <h2><a href="">Jakiś tam pierwszy poszt</a></h2>
            <p>Allahu akbar czy coś tam jakiegos takie tracki.</p>
    </div>

    <div>
        <p>published: 03.11.2016, 21:40</p>
          <h2><a href="">A tera kukle drugie poszty</a></h2>
            <p>A teraz wicia coś tam skrobe i niwie czy gra czy nie gra.</p>
    </div>
  </body>
</html>
